# Configuración General del Proyecto
PROJECT_NAME="Remundial Core API"
VERSION="1.0.0"
API_V1_STR="/api/v1"

# Credenciales de PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=remundial_db

# Cadena de conexión asíncrona (PostgreSQL + asyncpg)
# Formato: postgresql+asyncpg://<usuario>:<password>@<host>:<puerto>/<nombre_db>
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/remundial_db
